<div class="container" [ngStyle]="{'margin-top':'100px'}">
    <div class="d-flex">
        <div>
            <h1>Tasks Management</h1>
        </div>
        <div class="ms-auto">
            <mat-form-field appearance="legacy" [ngStyle]="{'margin-right':'15px'}">
                <mat-label>Search</mat-label>
                <input matInput [(ngModel)]="searchKey" placeholder="Search...">
                <button mat-icon-button matSuffix (click)="search()"><mat-icon matSuffix>search</mat-icon></button>
            </mat-form-field>
            <button mat-raised-button [ngStyle]="{'background-color':'blue', 'color':'white'}" (click)="onAdd()"  matTooltip="Create Task"><mat-icon>add_circle</mat-icon> Create Task</button>
        </div>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            
            <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

            <!-- Task Name Column -->
            <ng-container matColumnDef="taskName" >
            <th mat-header-cell *matHeaderCellDef> Task Name </th>
            <td mat-cell *matCellDef="let task"> {{task.taskName}} </td>
            </ng-container>

            <!-- Task Description Column -->
            <ng-container matColumnDef="taskDescription">
            <th mat-header-cell *matHeaderCellDef> Task Description </th>
            <td mat-cell *matCellDef="let task"> {{task.taskDescription}} </td>
            </ng-container>

            <!-- Task Date Created Column -->
            <ng-container matColumnDef="taskDateCreated">
                <th mat-header-cell *matHeaderCellDef> Date Created </th>
                <td mat-cell *matCellDef="let task"> {{task.dateCreated | date:'longDate'}} </td>
            </ng-container>

            <!-- Task Date Modified Column -->
            <ng-container matColumnDef="taskDateModified">
                <th mat-header-cell *matHeaderCellDef> Date Modified </th>
                <td mat-cell *matCellDef="let task"> {{task.dateModified | date:'longDate'}} </td>
            </ng-container>

            <!-- Task Date Completed Column -->
            <ng-container matColumnDef="taskDateFinished">
                <th mat-header-cell *matHeaderCellDef> Date Finished </th>
                <td mat-cell *matCellDef="let task"> {{task.dateFinished | date:'longDate'}} </td>
            </ng-container>

            <!-- Task Tags Column -->
            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef> Tags </th>
                <td mat-cell *matCellDef="let task">
                    <ng-container *ngFor="let tag of task.tag">
                        <span class="badge">{{tag.tagName}}</span>
                    </ng-container>
                </td>
            </ng-container>

            <!-- Task Status Column -->
            <ng-container matColumnDef="taskStatus">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let task">
                    <div *ngIf="task.status == 0" matTooltip="New" aria-label="new">
                        <mat-icon [ngStyle]="{'color':'blue'}">new_releases</mat-icon>
                    </div>
                    <div *ngIf="task.status == 1" matTooltip="In Progress" aria-label="in progress">
                        <mat-icon [ngStyle]="{'color':'orange'}">timer</mat-icon>
                    </div>
                    <div *ngIf="task.status == 2" matTooltip="Completed" aria-label="completed">
                        <mat-icon [ngStyle]="{'color':'green'}">check</mat-icon>
                    </div>
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell  *matHeaderCellDef > Actions </th>
                <td mat-cell *matCellDef="let task" >
                    <button mat-icon-button [ngStyle]="{'color':'orange'}"  matTooltip="Edit Task" (click)="onEdit(task.taskId)" aria-label="edit">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="task.status != 2" [ngStyle]="{'color':'red'}"  matTooltip="Delete Task"(click)="openDialogConfirmation(task.taskId)" aria-label="delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container> 
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="8" [ngStyle]="{'text-align':'center'}">No data found</td>
            </tr>
        </table>
        <mat-paginator  [pageSize]="10"
                        [pageSizeOptions]="[10, 20, 50, 100]"
                        showFirstLastButtons
                        aria-label="Select page of tasks"
                        *ngIf="dataSource.data.length > 0">
        </mat-paginator>
    </div>
</div>